/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

.timeline {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px;
  position: relative;
}

.timeline:before {
  content: "";
  display: block;
  width: 4px;
  background: #f29400;
  position: absolute;
  left: 20px;
  bottom: 0;
  height: 100%;
}

.timeline__item {
  padding-left: 20px;
  margin-bottom: 10px;
  position: relative;
}

.timeline__year,
.timeline__text {
  padding: 10px 30px 0px 30px;
}

.timeline__year {
  font-size: 30px;
}

.timeline__line {
  background-color: #f29400;
  height: 2px;
  position: relative;
}

.timeline__line:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 4px solid #f29400;
  position: absolute;
  right: -6px;
  top: -9px;
  background: #f29400;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.timeline__line:before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  border: 4px solid #f29400;
  position: absolute;
  left: -26px;
  top: -16px;
  background: #fff;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
}

@media (min-width: 1024px) {
  .timeline:before {
    left: -webkit-calc(50% - 14px);
    left: -moz-calc(50% - 14px);
    left: calc(50% - 14px);
    top: 10px;
  }

  .timeline__item {
    padding-left: 0;
    width: 50%;
  }

  .timeline__item:nth-child(odd) {
    margin-left: -webkit-calc(50% - 4px);
    margin-left: -moz-calc(50% - 4px);
    margin-left: calc(50% - 4px);
  }

  .timeline__item:nth-child(even) .timeline__line:after {
    left: -6px;
    right: auto;
    top: -9px;
  }

  .timeline__item:nth-child(even) .timeline__line:before {
    right: -6px;
    left: auto;
    top: -17px;
  }

  /* .timeline__item:nth-child(odd) .timeline__year, .timeline__item:nth-child(odd) .timeline__text {
        padding-left: 60px;
    } */
}
